<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446085254058-ocq5denlf5ds26jai0pe6376kgtrq7a8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446085254058-ocq5denlf5ds26jai0pe6376kgtrq7a8</string>
	<key>API_KEY</key>
	<string>AIzaSyDn6S6esulcrMxomcy__lYNrf2dFIU57s8</string>
	<key>GCM_SENDER_ID</key>
	<string>446085254058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cgui.amir.latenightshow</string>
	<key>PROJECT_ID</key>
	<string>late-night-show</string>
	<key>STORAGE_BUCKET</key>
	<string>late-night-show.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:446085254058:ios:29658704d3b50627</string>
	<key>DATABASE_URL</key>
	<string>https://late-night-show.firebaseio.com</string>
</dict>
</plist>
